POSTGRES_DB=query_forge
POSTGRES_USER=query_forge
POSTGRES_PASSWORD=query_forge
POSTGRES_PORT=5432
BACKEND_PORT=8080
OPENAI_API_KEY=
COHERE_API_KEY=
LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
QUERY_FORGE_CONFIG_DIR=./configs/app
PROMPT_ROOT=./configs/prompts
EXPERIMENT_ROOT=./configs/experiments

